body {
  margin: 20px;
}

.rank-list {
  display: flex;
}

.rank {
  list-style: none;
  margin: 30px;
}

.rank-img {
  height: 300px;
  position: relative;
}

.rank-img > img {
  background-size: cover;
  position: absolute;
  bottom: 0px;
}

.rank-profile {
  text-align: center;
}
