body {
  margin: 10px;
}

.rank-list {
  display: flex;
}

.rank {
  list-style: none;
  margin: 20px;
}

.rank-img > img {
  background-size: cover;
}

.rank-img > img {
  bottom: 0;
}

.rank-profile {
  text-align: center;
}
