<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <title>퀴즈를 맞춰서 짱쎈 도토리가 됩시다!</title>

    <style>
      #nv {
        padding-top: 100px;
        padding: 30px 0;
      }
      #wide {
        padding-top: 41px;
        padding-left: 60px;
      }
      .leftover {
        font-size: 41px;
      }
      .question {
        font-size: 41px;
        text-align: center;
        padding-top: 100px;
      }
      .option {
        padding-top: 40px;
        padding-bottom: 100px;
        display: flex;
        justify-content: center;
      }
      .option > button {
        display: inline-block;
        font-size: 30px;
        width: 300px;
        height: 100px;
        margin: 0 20px 0 20px;
      }
      .submitbt {
        padding-left: 200px;
      }
    </style>

    <script>
      function clickevent(numcheck) {
        let answer = $("#user_answer").val();

        switch (numcheck) {
          case 1:
            let sy_answer = `{{select_quize[0].answer}}`;
            let id_quize = `{{select_quize[0]._id}}`;
            if (answer == sy_answer) {
              quizNext2();
              console.log("1번문제");
            } else {
              location.href = "descriptive_false" + "/" + id_quize;
            }
            break;
          case 2:
            let sy_answer2 = `{{select_quize[1].answer}}`;
            let id_quize2 = `{{select_quize[1]._id}}`;
            if (answer == sy_answer2) {
              console.log("2번문제");
              quizNext3();
            } else {
              location.href = "descriptive_false" + "/" + id_quize2;
            }

            break;
          case 3:
            let sy_answer3 = `{{select_quize[2].answer}}`;
            let id_quize3 = `{{select_quize[2]._id}}`;
            if (answer == sy_answer3) {
              console.log("3번문제");
              quizNext4();
            } else {
              location.href = "descriptive_false" + "/" + id_quize3;
            }
            break;
          case 4:
            let sy_answer4 = `{{select_quize[3].answer}}`;
            let id_quize4 = `{{select_quize[3]._id}}`;
            if (answer == sy_answer4) {
              console.log("4번문제");
              quizNext5();
            } else {
              location.href = "descriptive_false" + "/" + id_quize4;
            }
            break;
          case 5:
            let sy_answer5 = `{{select_quize[4].answer}}`;
            let id_quize5 = `{{select_quize[4]._id}}`;
            if (answer == sy_answer5) {
              console.log("4번문제");
              location.href = "success";
            } else {
              location.href = "descriptive_false" + "/" + id_quize5;
            }
            break;
          default:
            alert("어떤 값인지 파악이 되지 않습니다.");
            quizNext5();
        }
      }

      function quizNext2() {
        console.log("왔니?");
        $("#wide").html("");
        let tempHtml = `<div class="leftover">2/5</div>
      <div class="question">
        {{select_quize[1].question}}
      </div>
      <div class="option">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="user_answer"
            placeholder="정답을 입력해 주세요"
            aria-label="user"
            aria-describedby="basic-addon2"
          />
        </div>
      </div>
      <div clas="submitbt">
        <button type="button" class="btn btn-primary" onclick="clickevent(2)">
          정답확정
        </button>
      </div>`;
        console.log("dddd");
        $("#wide").append(tempHtml);
      }
      function quizNext3() {
        $("#wide").html("");
        let tempHtml = `<div class="leftover">3/5</div>
      <div class="question">
        {{select_quize[2].question}}
      </div>
      <div class="option">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="user_answer"
            placeholder="정답을 입력해 주세요"
            aria-label="user"
            aria-describedby="basic-addon2"
          />
        </div>
      </div>
      <div clas="submitbt">
        <button type="button" class="btn btn-primary" onclick="clickevent(3)">
          정답확정
        </button>
      </div>`;
        $("#wide").append(tempHtml);
      }
      function quizNext4() {
        $("#wide").html("");
        let tempHtml = `<div class="leftover">4/5</div>
      <div class="question">
        {{select_quize[3].question}}
      </div>
      <div class="option">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="user_answer"
            placeholder="정답을 입력해 주세요"
            aria-label="user"
            aria-describedby="basic-addon2"
          />
        </div>
      </div>
      <div clas="submitbt">
        <button type="button" class="btn btn-primary" onclick="clickevent(4)">
          정답확정
        </button>
      </div>`;
        $("#wide").append(tempHtml);
      }
      function quizNext5() {
        $("#wide").html("");
        let tempHtml = `<div class="leftover">5/5</div>
      <div class="question">
        {{select_quize[4].question}}
      </div>
      <div class="option">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="user_answer"
            placeholder="정답을 입력해 주세요"
            aria-label="user"
            aria-describedby="basic-addon2"
          />
        </div>
      </div>
      <div clas="submitbt">
        <button type="button" class="btn btn-primary" onclick="clickevent(5)">
          정답확정
        </button>
      </div>`;
        $("#wide").append(tempHtml);
      }
    </script>
  </head>
  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light" id="nv">
      <span class="navbar-brand mb-0 h1" onclick="location.href='../'">&#x1F330;<b>도토리 키재기</b>: 내일은 없는 정글 R반 도토리들</span>
    </nav>
    <div id="wide">
      <div class="leftover">1/5</div>
      <div class="question">{{select_quize[0].question}}</div>
      <div class="option">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            id="user_answer"
            placeholder="정답을 입력해 주세요"
            aria-label="user"
            aria-describedby="basic-addon2"
          />
        </div>
      </div>
      <div class="submitbt">
        <button type="button" class="btn btn-secondary" onclick="clickevent(1)">
          정답확정
        </button>
      </div>
    </div>
  </body>
</html>

<!-- 1. 정답확정 버튼을 누른다.
2. 정답란에 들어있는 유저 입력값과 db에 저장되어있는 입력값이 같은지 반환
3. 반환된 값이 트루면 다음 퀴즈로 넘어가기
4. 반환된 값이 페일이면 페일 페이지로 넘기기
5. 결과에 맞게 디비 업데이트  -->
