<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>출제한 문제 리스트</title>

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>

    <script>
      function modifyQuiz(id) {
        parseid = id.toString().substr(1);
        let status = $(`#${parseid} > div.quiz-modify-box`).css("display");
        if (status === "block") {
          $(`#${parseid} > div.quiz-modify-box`).hide();
          $(`#${parseid} > div.buttons > button`).text("자세히");
        } else {
          $(`#${parseid} > div.quiz-modify-box`).show();
          $(`#${parseid} > div.buttons > button`).text("닫기");
        }
      }
    </script>
    <style>
      body {
        margin: 10px;
      }
      .quiz-list {
        list-style: none;
      }
      .madequiz {
        margin-top: 20px;
      }
      .quiz-modify-box {
        border: 1px solid black;
        display: none;
        padding: 20px;
      }
      .remove {
        background-color: lightcoral;
        margin-left: 10px;
      }
      .buttons {
        display: flex;
      }
    </style>
  </head>
  <body>
    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light" id="nv">
      <span class="navbar-brand mb-0 h1" onclick="location.href='../'"
        >&#x1F330;<b>도토리 키재기</b>: 내일은 없는 정글 R반 도토리들</span
      >
    </nav>
    <h1>출제 리스트</h1>
    <button
      onClick="window.location='profile'"
      class="btn btn-secondary btn-lg"
    >
      홈으로
    </button>
    <ul class="quiz-list">
      {% for quiz in madequiz %}
      <li class="madequiz" id="{{quiz._id}}">
        <div class="quiz-info">
          <h4>{{ quiz.question }}</h4>
        </div>
        <div class="buttons">
          <button
            onClick="modifyQuiz('${{quiz._id}}')"
            class="btn btn-secondary specific"
          >
            자세히
          </button>
          <form action="/quizlist/delete" method="POST">
            <input type="hidden" value="{{quiz._id}}" name="id" />
            <input
              class="btn btn-secondary remove"
              type="submit"
              value="삭제"
            />
          </form>
        </div>
        <div class="quiz-modify-box">
          <form action="/quizlist/modify" method="POST">
            <div class="form-group">
              <input value="{{quiz._id}}" type="hidden" name="id" />
              <label for="formGroupExampleInput">문제</label>
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                name="question"
                value="{{quiz.question}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">정답</label>
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                name="answer"
                value="{{quiz.answer}}"
                required
              />
            </div>
            <div class="form-group">
              <label for="formGroupExampleInput">해설</label>
              <input
                type="text"
                class="form-control"
                id="formGroupExampleInput"
                name="explanation"
                value="{{quiz.explanation}}"
                required
              />
            </div>
            <input
              class="btn btn-secondary btn-lg"
              type="submit"
              value="저장"
            />
          </form>
        </div>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
